@import url(http://fonts.googleapis.com/css?family=Raleway);

html, body {
	height: 100%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.bootstrap-tagsinput {
  width: 100%;
}

.nav-gravatar {
    height: auto;
    width:30px;
    padding: 0;
    margin: -10px 0;
    border: solid #666 1px;
    display: inline;
    border-radius: 20px;
}

.phone-gravatar {
    height: auto;
    width:25px;
    padding: 0;
    margin: -10px 0;
    border: solid #666 1px;
    display: inline;
    border-radius: 20px;
}

.snippet-form {
    padding-bottom: 40px;
}


h1 [class^="icon-"] {
  color: grey; 
}

.navbar {
    margin-bottom: 20px;
}



@media (max-width: 767px) {
    

    h1 {
        font-size: 24.5px; 
    }

    h2 {
        font-size: 21px; }

    h3 {
        font-size: 17.5px; 
    }

    h4 {
        font-size: 14px; 
    }

    h5 {
        font-size: 14px; 
    }

    h6 {
        font-size: 7px; 
    } 

    .navbar-nav {
        margin: 5px 0;
    }

    
}