.welcome {
	text-align: center;
	padding:rem-calc(70) 0;
}

.welcome h2 {
	margin:0;
}

.welcome p {
	font-size: rem-calc(16);
	font-weight:$font-thin;
}

.custom-nav {
	
}

.custom-nav a {
     color:white;
}

.custom-nav a:hover,
.custom-nav a:focus {
	color:$secondary-color;
}


.large-hr {
	border-bottom:rem-calc(2) solid $secondary-color;
	width:rem-calc(150);
	margin:rem-calc(8) auto rem-calc(15) auto;
}

.small-hr {
	border-bottom:rem-calc(2) solid $secondary-color;
	width:rem-calc(60);
	margin:rem-calc(14) auto rem-calc(10) auto;
}

.sign-up {
    padding:rem-calc(16) 0;
	width:100%;
	text-align:center;
	color:white;
	background:$primary-color;
	font-size:rem-calc(18);
}

.sign-up .btn {
	border: rem-calc(2) solid $secondary-color;
	padding:rem-calc(10) rem-calc(18);
	background: none;
	color: $secondary-color;
	margin:0 rem-calc(10);
	font-size: rem-calc(18);
}


.sign-up .btn:hover, 
.sign-up .btn:focus {
    color:$primary-color;
    background:$secondary-color;
}

.new-era {
	padding:rem-calc(30) 0;
	width:100%;
	text-align:center;
	color:white;
	background:$secondary-color;
	font-size:rem-calc(18);
}

.features {
	padding:rem-calc(70) 0 rem-calc(10) 0;
	text-align: center;
}

.features-items {
	padding-bottom: rem-calc(70);
	text-align: center;
}

.features-items p {
    font-size: rem-calc(16);
	font-weight:$font-thin;
}


.footer {
	background:#eee;
	height:auto;
	margin-top:rem-calc(2);
	padding:rem-calc(30) 0 rem-calc(13);
	width: 100%;
}

.footer a {
	color: black;
}

.footer a:hover, .footer a:focus {
	text-decoration: underline;
}

.footer p {
	padding: rem-calc(8) 0;
}

.footer h1, 
.footer h2, 
.footer h3, 
.footer h4,
.footer h5, 
.footer h6 {
	margin: rem-calc(10) 0;
	font-weight: $font-bold;
}

.footer ul, .footer .social {
	padding:rem-calc(12) 0;
}

.footer input[type="text"] {
	background:none;
	border-color: black;
	-webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.footer input[type="text"]::-webkit-input-placeholder {
  color: black;
}

.footer input[type="text"]::-ms-input-placeholder {
	color: black;
}

.footer input[type="text"]::-moz-placeholder {
	color: black;
}

.footer input[type="text"]:focus {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-color: black;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  color: black;
}

.footer .btn {
	border: rem-calc(1) solid $primary-color;
	background: none;
	color: $primary-color;
	margin:0 rem-calc(-2);
}

.footer .btn:hover, 
.footer .btn:focus {
    color: #eee;
    background:$primary-color;
}